body {
  background: linear-gradient(red, blue);
  height: 100vh;
}

.flex {
  display: flex;
  display: flex;
}
.dataContainer {
  margin-left: 20px;
  padding: 10px 10px;
  background-color: rgb(190, 187, 184);
  width: 70%;
  height: 100vh;
}
.data {
  color: rgb(10, 7, 7);
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
  
}

h3,
h2 {
  margin: 0;
}
.users {
  color: white;
  padding: 20px;
  margin: 10px auto;
  width: 80%;
  background: linear-gradient(rgb(31, 31, 112), black);
  border-radius: 30px;
}
.usercontainer {
  width: 30%;
  padding-top: 10px;
}
.selected {
  border: 5px solid rgb(255, 244, 239);
}
