body {
  background: linear-gradient(45deg, rgb(3, 3, 180), rgb(185, 0, 0));
  height: 100vh;
}

.flex {
  display: flex;
  display: flex;
}
.dataContainer {
  margin-left: 20px;
  padding: 10px 10px;
  background-color: rgb(230, 225, 225);
  width: 70%;
  height: 1000vh;
}
.data {
  width: 90%;
  background-color: white;
  color: rgb(10, 7, 7);
  margin: 10px auto;
  padding: 5px;
  border-radius: 5px;
}

h3,
h2 {
  margin: 0;
}
.users {
  color: rgb(0, 0, 0);
  padding: 20px;
  margin: 10px auto;
  width: 80%;
  background: rgb(255, 255, 255);
  border-radius: 50px;
  cursor: pointer;
}
.users-container {
  width: 30%;
  padding-top: 10px;
}
.selected {
  border: 5px solid rgb(255, 244, 239);
}
